JWT_SECRET=replace-me
DATABASE_DSN=btechdev_user:passw123@tcp(mysql:3306)/btechdev_db?parseTime=true&charset=utf8mb4&loc=UTC
API_PORT=8080
WEB_ORIGIN=http://localhost:3000
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=btechdev_db
MYSQL_USER=btechdev_user
MYSQL_PASSWORD=passw123
